@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: bold;
	src: url('pts75f_w.eot');
	src: local('PT Sans Bold'), url('PTS75F_W.woff2') format('woff2');
}

@font-face {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	src: url('ptn77f_w.eot');
	src: local('PT Sans Narrow Bold'), url('PTN77F_W.woff2') format('woff2');
}

.button:hover {
	box-shadow: 0 2px 6px 0 rgba(255, 225, 225, 0.6);
}


.filter__item-label:hover {
	background: #ffd93e;
}

.link_active, .link:hover {
	color: inherit;
}

.paginator__arrow:hover {
	opacity: 0.5;
}

.panel:hover {
	background: #fff;
	box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.modal_open {
	display: flex;
}
.modal_open .modal__content {
	animation: modal 0.2s ease forwards;
}
